
  <h1>Dynamic {{modelName}} Table Rendered by Component</h1><br>

  <p-table [value]="fields" class="table table-striped table-hover flex-center margin">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let header of headers">
                  {{header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-field>
          <tr>
              <td *ngFor="let header of  headers">
                  {{field[header]}}
              </td>
          </tr>
      </ng-template>
  </p-table>

