/* You can add global styles to this file, and also import other style files */
.margin-right {
    margin-right: 15px;
    }
.padding-top {
    padding-top: 15px;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.margin{
    margin: 5px 0px;;
}
.card{
    border: none;
}